<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.airstock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Airstock">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClearanceView" />
        <activity android:name=".InOutTableView" />
        <activity android:name=".ReceivingStocks" />
        <activity android:name=".ReleasingStocks" />
        <activity android:name=".StockSpec" />
        <activity android:name=".MyStockView" />
        <activity android:name=".PopUpInMyStock" android:theme="@android:style/Theme.Dialog"
            />
        <activity android:name=".PopUpStockInfo" android:theme="@android:style/Theme.Dialog"
            />
        <activity android:name=".PopUpSearch" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>